@import url("style.css");

:root {
    --main-time: 1s;
}

.navbar {
    transition: width var(--main-time) ease-in-out;
    width: 0px;
    background-color: color-mix(in srgb, var(--bg), transparent 15%);
    backdrop-filter: blur(30px);
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* Lower than header */
    height: 100vh;
}

.navbar.open {
    width: 25rem;
    transition: width var(--main-time) ease-in-out;
}

.navbar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    transform: translateX(-25rem);
    /* transition: all var(--main-time) ease-in-out; */
    width: calc(25rem - 40px);
    color: var(--text);
}


.navbar a.open {
    transform: translateX(0px);
    transition: transform var(--main-time) ease-in-out;
}

.navbar a.open:not(.logo):hover {
    background-color: var(--bg-light);
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transform: scale(1.03);
    width: calc((1/1.03) * (25rem - 40px));
}


.menu-btn {
    cursor: pointer;
    transition: all var(--main-time) ease-in-out;
    margin-top: 3vh;
    margin-left: 3vh;
    position: absolute;
    height: 23px;
    transform: translateX(0px);
    background: none;
    border: none;
    padding: 0;
    z-index: 1001;
}

.menu-btn .btn-line {
    width: 23px;
    height: 1px;
    border-radius: 3px;
    border: var(--text-muted) 1px solid;
    margin: 0 0 5px 0;
    background: var(--text-muted);
    transition: all var(--main-time) ease-in-out;
}

.menu-btn.close {
    /* transform: rotate(180deg); */
    transform: translateX(20.5rem);
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: translate(0, 7px) rotate(45deg);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: translate(0, -7px) rotate(-45deg);
}

.navbar a.logo {
    color: var(--text-muted);
    font-weight: 300;
    width: 18rem;
}

/* @media (max-width: 700px) {
    .navbar.open {
        width: 20rem;
    }

    .menu-btn.close {
        transform: translateX(15.5rem);
    }

    .navbar a {
        width: 17.5rem;
        transform: translateX(-20rem);
    }
} */


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color: transparent;
}


.progress-container {
    width: 100%;
    height: 2px;
    background: var(--bg-dark);
}


.progress-bar {
    height: 2px;
    background: var(--text-muted);
    width: 0px;
}


/* footer */

.footer {
    width: 100%;
    background-color: var(--bg);
    color: var(--text-muted);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    display: block;
    margin-top: 10vh;
}


.footer-icons {
    display: flexbox;
    margin-top: 10px;
    width: 300px;
    justify-content: space-between;
    margin-left: calc(50% - 150px);
}
.footer-icons img {
    text-decoration: none;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    /* filter: opacity(0.5) drop-shadow(0 0 0 var(--text-muted));
    color: white; */
    margin: 10px;
}
.footer-icons img:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 var(--text-muted));
    scale: 1.08;
}
