@import url("style.css");

.project-grid{
    display: grid;
    padding: 20px;
    gap: 10px;
    margin: 0;
    grid-template-columns: auto auto auto;
    /* width: 100%; */
}
@media (max-width: 1150px) {
    .project-grid{
        grid-template-columns: auto auto;
    }
    
}

@media (max-width: 605px) {
    .project-grid{
        grid-template-columns: auto;
    }
}
.project-card{
    min-width: 16rem;
    background-color: var(--bg);
    padding: 5px 20px;
}