@import url("style.css");

.project-grid{
    display: grid;
    padding: 20px;
    gap: 10px;
    margin: 10px 0;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.project-grid::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg);
}
/* Track */
 
/* Handle */
.project-grid::-webkit-scrollbar-thumb {
  background: var(--bg-light); 
}

/* Handle on hover */
.project-grid::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media (max-width: 1150px) {
    .project-grid{
        grid-template-columns: 50% 50%;
    }
    
}
@media (max-width: 605px) {
    .project-grid{
        grid-template-columns: 100%;
    }
}
.project-card{
    min-width: 16rem;
    background-color: var(--bg);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-card:hover{
    min-width: 16rem;
    background-color: var(--bg-light);
    scale: 1.03;
    transition: all 0.3s ease-in-out;
}
.project-card img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    bottom: 0;
    margin: 0;
    object-fit: cover;
    display: flex;
    
}
.project-card h5{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--text-muted);
    
}
.project-card:hover .tag{
    background-color: var(--primary);
}

.katex-html {
    display: none;
}

.tag{
    background-color: var(--bg-light);
    color: var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out;
}
.tag:hover {
    background-color: var(--primary);
    cursor: pointer;
    scale: 1.03;
}
.active_tag{
    background-color: var(--primary);
    scale: 1.03;
    text-decoration: none;

}
.active_tag:hover{
    background-color: var(--danger);
    scale: 1;
    text-decoration: line-through;
}

#search {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    display: block;
}
