/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

.hljs {
    color: #000;
    background: #f8f8ff;
    width: 100%;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.hljs-comment,
.hljs-doctag,
.hljs-quote,
.hljs-variable {
  color: #6A9954;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #579CD6;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #CE9178;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #D4D4D4;
}

.hljs-attr {
  color: #9DDCFE;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}